* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body {
    font-family: "Dancing Script";
    padding: 25px;
    margin-top: 100px;
    display: flex;
    /* alinha na horizontal */
    justify-content: center;
    /* alinha na vertical */
    align-items: center;
    /* inverte a ordem do alinhamento */
    flex-direction: column;
    color: #303d69;
    font-size: 18;
 }

 .container {
    box-shadow: 0 7px 12px #c395f8;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    background: #f8efe9;
 }
 .product {
    display: flex;
    padding: 10px 0;
    align-items: center;
    
 }
 
 /*.product:not(:last-child) {
    border-bottom: 1px solid rgb(207, 178, 178);
 }*/
 
 .product > .information {
    margin-left: 10px;
    max-width: 300px;
    text-align: justify;
 }
 
 .mb-10 {
    margin-bottom: 10px;
 }
 .valor {
    margin-top: 10px;
    color: #92d4ff;
 }
 
 .valor > span {
    font-weight: 600;
 }
 
 .actions {
    display: flex;
    margin-left: 10px;
    align-items: center;
 }
 
 .actions > button {
    height: 35px;
    width: 35px;
    border-radius: 20px;
    border: none;
    background: #9b87e7;
    color: #fff;
    font-size: 16; /* acessibilidade */
    cursor: pointer;
 }
 
 .actions > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 5px;
    margin-top: -17px;
 }
 
 .actions > div > input {
    height: 25px;
    border-radius: 10px;
    /* border: 1px solid orange; */
    border: none;
    background: #fffbef;
    text-align: center;
 }
 
 .order {
    width: 300px;
    padding-left: 30px;
    border-left: 1px solid #ccc;
    margin-left: 50px;
 }
 
 .search-frete {
    margin-bottom: 50px;
 }
 
 .search-frete > .address {
    display: none;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: #588157;
 }
 
 .cep-input {
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #ebebeb;
    padding: 0 20px;
    width: 100%;
    color: #525252;
    letter-spacing: 2px;
 }
 
 .cep-input:focus {
    outline: none;
    border: 1px solid #588157;
 }
 
 .order > .information {
    margin-bottom: 50px;
 }
 
 .title {
    margin-bottom: 10px;
 }
 
 .row {
    display: flex;
 }
 
 .left {
    flex: 1;
 }
 
 .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 .total > h3 {
    color: #006d77;
 }
 
 .button {
    margin-top: 50px;
    border-radius: 4px;
    width: 100%;
    background: #588157;
    height: 40px;
    border: none;
    cursor: pointer;
    color: #fff;
 }