<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<div th:replace="~{base::head}"></div>
<div th:replace="~{base::navbar}"></div>


<body class="container">


	<div class="card mt-2">
		<h5 class="card-header">Sobre o Sistema</h5>
		<img src="images/logo_softgraf2.jpg" style="margin: 10px ; width: 300px">
		
		<div class="card-body">
			<h5 class="card-title">Tecnologias: Java Core, Spring MVC, Thymeleaf, Spring Data e MySQL</h5>
			<p class="card-text">Projeto desenvolvido por Amanda Mattauch</p>
			<a href="http://www.softgraf.com" target="_blank" class="btn btn-primary">Ir para o site</a>
		</div>

	</div>



</body>
</html>
