<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<div th:replace="~{base::head}"></div>
<div th:replace="~{base::navbar}"></div>


<body class="container">

	<div
		th:replace="~{base::banner('Sistema Primavera', 'Gerenciamento de Produtos')}"></div>

	<div class="col">
		<table class="table table-stripped table-responsive table-bordered">
		
			<thead>
				<tr>
					<th class=col>Código</th>
					<th class=col-3>Descrição</th>
					<th class=col-2>Preço</th>
					<th class=col-1>Quantidade</th>
					<th class=col-1>Imagem</th>
					<th class=col>Gerenciar</th>				
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="produto : ${produtos}">
					<td th:text="${produto.id}">1</td>
					<td th:text="${#strings.capitalizeWords(produto.descricao)}">Telefone</td>
					<td th:text="${#numbers.formatCurrency(produto.preco)}">69.80</td>
					<td th:text="${produto.quantidade}">10</td>
					<td>
						<img th:src="${uploads + produto.urlImagem}" style="width: 100%" alt="Produto sem foto" th:title="${produto.urlImagem}" class="img-thumbnail">
					</td>
					
					<td>
						<a th:href="@{/produto/alterar/{id}(id=${produto.id})}" class="btn btn-outline-info">Alterar</a>
						<a th:href="@{/produto/excluir/{id}(id=${produto.id})}" class="btn btn-outline-danger">Excluir</a>
					
					</td>				
				</tr>
			</tbody>
		
		</table>
		
		<a href="/produto/cadastrar" class="btn btn-outline-success">Cadastrar</a>

	</div>

</body>
</html>
